 $secondary: #82B864;
$dark: #384050; 
$white: #FFFFFF;
$light: #F2F2F2;
$green-color: #82B864;
$white-center: #F1F8FC;
$bg-custom-light: #F1F8FC;

$font-family-base:'Graphik', Arial, sans-serif; 
$headings-font-family:'Graphik', Arial, sans-serif;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/bootstrap";

.bg-custom-light {
    background-color: $white-center !important;
}

body {
    color: $dark; 
    background-color: $white;
    font-family: 'Graphik', Arial, sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    color: $dark; 
    font-family: 'Graphik', Arial, sans-serif !important;
}

.artisan-detail-card {
    box-shadow: -5px 5px 8px 0px rgba(130, 184, 100, 0.3) !important;
    border: 1px solid #384050 !important;
    border-color: #384050 !important;
    border-radius: 40px;
    overflow: hidden;
}

.btn-gradient-green {
    background-image: linear-gradient(to right, $green-color, $white-center, $green-color) !important;
    color: $dark !important; 
    border-color: $dark !important; 
    font-weight: bold;
    border-radius: 50px !important; 
    max-width: 500px;
}

.border-dark-important {
    border-color: $dark !important; 
    border: 1px solid $dark !important; 
}